registry=https://yarn.npmjs.org

# //registry.npmjs.org/:_authToken=${{ secrets.NPM_AUTH_TOKEN }}
# @<phyoyarzar>:registry=https://npm.pkg.github.com
# //npm.pkg.github.com/:_authToken=<your auth token>
always-auth=true